.balance {
  margin: auto;
  margin-top: 8px;
  width: 50%; height: 50%;
  text-align: center;
  border: 2px solid;
}

.count {
  display: block;
  margin-top: 200px;
  justify-content: center;
}
button {
  display: block;
  margin: 100px;
}
